<h1>Makersgram</h1>

<% if current_user %>
  Welcome <%= current_user.name %>
  <br>
  <%= link_to "New Picture", new_picture_path %>
  <br>
  <%= link_to "Logout", logout_path %>
  <br>
  <% else %>
  <%= link_to "Sign Up!", signup_path %>
  <br>
  <%= link_to "Log In", login_path %>
  <br>
<% end %>

<table>
  <tr>
    <th>Caption</th>
    <th>Image</th>
    <th></th>
    </tr>

    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.caption %></td>
        <td><%= picture.image %><td>
        <td><%= link_to 'Show', picture_path(picture) %></td>
        </tr>
        <% end %>
        </table>