<div class="new-pictures" id="new-pictures">
<h2>New Post</h2>
<%= form_with scope: :picture, url: pictures_path, local: true do |f| %>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </p>
 
  <p>
      <div class="form-buttons">
    <%= f.submit("Share New Post") %>
  </p>
<% end %>

